body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.background {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(120deg, #02187a, #004581);
    display: flex;
    justify-content: center;
    align-items: center;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
  
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    background: white; 
}

::-webkit-scrollbar-thumb {
    background: #004581; 
}
  
::-webkit-scrollbar-thumb:hover {
    background: #02187a; 
}

.container {
    background-color: white;
    box-sizing: border-box;
    max-height: 85%;
    padding: 30px;
    border-radius: 20px;
    margin-top: 35px;
}

.loginContainer {
    min-height: 330px;
    width: 350px;
    flex-direction: column;
    align-items: center;
    display: flex;
}

.loginTitle {
    margin-bottom: 25px;
    color: #202020;
    text-align: center;
}

.loginForm {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loginInput {
    height: 40px;
    width: 100%;
    box-sizing: border-box;
    padding-left: 8px;
    margin-bottom: 20px;
    border-width: 0 0 2px;
    border-color: #004581;
}

.loginInput:focus {
    outline: none;
    border-width: 0 0 2px;
    border-color: #02187a;
}

.loginError {
    color: red;
    font-weight: bold;
    margin-bottom: 15px;
    visibility: hidden;
}

.visible {
    visibility: visible;
}

.button {
    outline: none;
    background: #004581;
    color: #FFF;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.5s ease;
    height: 40px;
    width: 100%;
}

.button:hover {
    background: #02187a;
}

.loginButton {
    outline: none;
    background: #004581;
    background-size: 200%;
    color: #FFF;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.5s ease;
    height: 40px;
    width: 100%;
    margin-bottom: 20px;
}

.leaveButton {
    position: fixed;
    top: 0;
    right: 0;
    margin: 20px;
    color: white;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.productsContainer {
    border-radius: 20px 0 0 0;
    overflow: scroll;
    min-width: 650px;
}

.addButtonContainer {
    display: flex;
    justify-content: end;
    margin-bottom: 15px;
}

.addButton {
    width: 100px;
}

.filters {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: end;
    margin-bottom: 30px;
}

.filter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
}

input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;
}

.filterButton {
    width: 100px;
}

.tableProducts {
    width: 100%;
}

.tableProducts thead tr {
    background-color: #004581;
    color: #ffffff;
    text-align: left;
}

.tableProducts th, .tableProducts td {
    padding: 8px 15px;
}

.tableProducts tbody {
    background-color: #EDEDED;
}

.tableProducts .tableImage {
    width: 40px;
}

.actionButton {
    background-color: #004581;
    color: white;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    cursor: pointer;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    margin: 10px;
}

.editInputs, .viewArea {
    display: flex;
    flex-direction: row;
}

.editInput {
    margin-top: 5px;
    margin-bottom: 20px;
}

.editButtons {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
}

.editButtons .cancelButton {
    background-color: #b8b8b8;
    color: black;
    width: 100px;
    margin-right: 10px;
}

.editButtons .cancelButton:hover {
    background-color: #9c9c9c;
}

.editButtons .saveButton {
    width: 100px;
}

.imgView, .imgEdit {
    width: 200px;
    margin-top: 8px;
}

.viewTextTitle, .editTextTitle {
    font-weight: bold;
}

.viewText {
    margin-top: 8px;
    margin-bottom: 20px;
}